/* Reset */
html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}

/* Global styles */
body {
    font-family: sans-serif;
}

img {
    width: 100%;
    display: block;
    margin-top: 1.5em;
}

a {
    text-decoration: none;
}

div.container {
    margin: auto;
    max-width: 40em;
    padding: 1em;
}

/* Header styles */
header {
    padding: 1em 0.5em 1.5em;
}

/* Logo */
img.logo {
    margin: 0em 0em 1em;
    max-width: 6.5em;
}

/* Navigation */
nav ul {
    margin: 0 0 1em 0.5em;
}

nav ul li {
    list-style-type: none;
    font-weight: bold;
    margin: 0.2em 0.5em 0.2em 0;
}

nav ul li a {
    color: #557799;
}

/* Footer */
footer {
    background-color: rgb(117, 141, 188);
    color: #ffffff;
    padding: 0.5em;
    width: 100%;
}

/* Main story */
section.mainstory a h2 {
    font-size: 3em;
    font-weight: bold;
    font-family: serif;
    color: rgb(79, 101, 141);
    padding: 0em 0.15em;
}

section.mainstory a p {
    color: rgb(63, 63, 64);
    padding: 0em 0.5em 2em;
}

/* Secondary story */
section.secondary a h2, .secondary1 h2, .secondary2 h2, .secondary3 h2, .secondary4 h2, .secondary5 h2 {
    font-size: 2em;
    font-weight: bold;
    font-family: serif;
    color: rgb(79, 101, 141);
    padding: 0em 0.2em;
}

section.secondary a p, .secondary1 p, .secondary2 p, .secondary3 p, .secondary4 p, .secondary5 p {
    color: rgb(63, 63, 64);
    padding: 0em 0.5em 2em;
}

/* Tertiary story */
section.tertiary, .tertiary1, .tertiary2, .tertiary3, .tertiary4, .tertiary5, .tertiary6 {
    border-top: solid 1px #557799;
    margin: 0em 0.5em;
    padding-top: 0.4em;
}

section.tertiary h2, .tertiary1 h2, .tertiary2 h2, .tertiary3 h2, .tertiary4 h2, .tertiary5 h2, .tertiary6 h2 {
    font-size: 1.2em;
    font-weight: bold;
    font-family: serif;
    color: rgb(79, 101, 141);
}

section.tertiary a p, .tertiary1 p, .tertiary2 p, .tertiary3 p, .tertiary4 p, .tertiary5 p, .tertiary6 p {
    color: rgb(63, 63, 64);
    padding: 0em 0em 2em;
}

/* Mainstory specific (mainstory.html) */
figure figcaption {
    padding: 0em 0.5em 1em;
    font-style: italic;
    color: rgb(120, 120, 120);
}

article h2 {
    font-size: 3em;
    font-weight: bold;
    font-family: serif;
    color: rgb(79, 101, 141);
    padding: 0.5em 0.15em 0.5em;
}

article p {
    padding: 0em 0.5em 1em;
}

/* Sidebar (mainstory.html) */
aside {
    background-color: rgb(203, 207, 255);
    padding: 1em 0.5em 4em;
}

aside h2 {
    font-size: 1.15em;
    padding-left: 0.3em;
}

aside p {
    padding: 0em 0em 2em;
    margin: auto;
}

aside img {
    padding: 0.5em;
    margin: 0;
}

/* Desktop-specific changes */
@media screen and (min-width: 35em) {

    nav ul li {
        display: inline-block;
        padding: 0em 1em 0em 0em;
    }

    header {
        padding: 1em 0em 1.5em;
    }

    section.mainstory a p,
    section.secondary a p,
    section.tertiary a p {
        padding: 0em 0em 2em;
    }

    figure figcaption,
    article p {
        padding: 0em 0em 1em;
    }
}
